

body{
	background-color: white;
	font-family: sans-serif;
}



h2{
	background-color: #222;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-weight: normal;
}





*{
	box-sizing: border-box; /*para q lo del relleno y borde no se sume sino se suma al ancho del elemento*/
}


/*selector universal*/
.container {
	border: solid 5px #333;
	max-width: 1200px;
	margin: 50px auto;
}


/*selector de atributo, cualquier elemento q contenga class=box tendra estas caract.*/
[class*=box-] {
		padding: 15px;
		text-align: center;
		font-size: 30px;
		text-shadow: 0 0 5px #000;

}

.box-01{background-color: blue;   }
.box-02{background-color: yellow; }
.box-03{background-color: orange; }
.box-04{background-color: pink;   }
.box-05{background-color: green;  }
.box-06{background-color: olive;  }
.box-07{background-color: red;    }
.box-08{background-color: gray;   }
.box-09{background-color: violet; }
.box-10{background-color: aqua;   }


.flx{

   display:flex; /*Propiedad para agregar flex al contenedor*/
   justify-content:flex-start;/*para generar espacio e/ las cajas*/
   flex-direction:row; 
   flex-wrap: no-wrap; 
   height: 400px;
   align-items: flex-start;
}


.flx [class*=box-]{
			width: 20%;
				}